{% extends "base.html" %} 
{% load tailwind_filters %}
{% load static %}

{% block title %}- Password Change{% endblock title %}

{% block content %}
<div class="mt-10 max-w-lg mx-auto">
    <div class="mb-4 flex justify-center">
        <h1 class="font-mono text-4xl">Change Password</h1>
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="w-full bg-gray-800 hover:bg-gray-900 px-3 py-2 rounded-md text-white" type="submit">Update</button>
        
    </form>
    <div class="flex py-5 border-t border-gray-200 mt-5 justify-center">
        <div class="box-content p-2 border-2 ">
            <h3>If you can't login, contact the Administrator - <a class="hover:text-green-600 mt-3" href="https://app.singlelink.co/u/era5tone">Animesh</a></h3>
          </div>

    </div>
</div>
{% endblock content %} 

{% block script %}
<script>
    let changePassAnchor = document.getElementById('change-pass');
    let MobilechangePassAnchor = document.getElementById('change-pass-mobile');
    changePassAnchor.classList.add('bg-gray-900','text-white')
    MobilechangePassAnchor.classList.add('bg-gray-900','text-white')
</script> 
{% endblock script %}
