{% extends "base.html" %} 
{% load tailwind_filters %}

{% block title %}

{% endblock title %}

{% block content %} 
<div class="max-w-3xl mx-auto">
    <h2 class="text-2xl text-gray-800 mx-auto mb-5">Add Member</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="w-full bg-yellow-500 hover:bg-yellow-600 px-3 py-2 rounded-md text-white" type="submit">Submit</button>
        
    </form>
{% endblock content %}

{% block script %} 
<script>
  addmemAchor = document.getElementById('add-mem');
  addmemAchor.classList.add('bg-gray-900','text-white')
</script>
{% endblock script %} 