{% extends "base.html" %} 
{% load tailwind_filters %}

{% block title %}- New Member
{% endblock title %}

{% block content %} 
<div class="max-w-3xl mx-auto">
  <div class="flex justify-center">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
      New Member
    </h2>
  </div>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="mb-5 w-full bg-gray-800 hover:bg-gray-900 px-3 py-2 rounded-md text-white" type="submit">Submit</button>
        
    </form>
{% endblock content %}

{% block script %} 
<script>
  let addmemAchor = document.getElementById('add-mem');
  addmemAchor.classList.add('bg-gray-900','text-white')
</script>
{% endblock script %} 