{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymRocket {% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
        {% include 'navbar.html' %}
    <div class="max-w-7xl mx-auto">
        {% block content %}
        {% endblock content %}
    </div>
    
    
    
    {% block script %} 
    {% endblock script %}
    <script src="{% static 'js/test.js' %}"></script>
</body>
</html>