{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock title %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-20 items-center justify-center flex-col">
      {% if wallpaper.photo %}
        <img class="lg:w-4/6 md:w-3/6 w-5/6 mb-7 object-cover object-center rounded" alt="hero" src="{{ wallpaper.photo }}">
      {% else %}
        <img class="lg:w-3/6 md:w-3/6 w-5/6 mb-7 object-cover object-center rounded" alt="hero" src="{% static 'images/wallpaper.jpg' %}">
      {% endif %}
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">RawFitness Gym Manager</h1>
        <div class="flex justify-center">
            {% if user.is_authenticated %}
          <button class="inline-flex text-white bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-900 rounded text-lg">
            <a href="{% url 'wallpaper:change' %}">Wallpaper</a></button>
          <button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg"> <a href="{% url 'members:member-list' %}">Members</a></button>
          {% else %}
          <button class="inline-flex text-white bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-900 rounded text-lg">
            <a href="{% url 'login' %}">LogIn</a></button>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock content %}